<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/cloud-admin.css" />
		<link rel="stylesheet" type="text/css" href="/css/themes/nature.css" id="skin-switcher" />
		<link rel="stylesheet" type="text/css" href="/css/responsive.css" />
		<link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/animatecss/animate.min.css" />
		<link rel="stylesheet" type="text/css" href="/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
		<link rel="stylesheet" type="text/css" href="/js/select2/select2.min.css" />
		<link rel="stylesheet" type="text/css" href="/js/jquery-todo/css/styles.css" />
		<link rel="stylesheet" type="text/css" href="/js/fullcalendar/fullcalendar.min.css" />
		<link rel="stylesheet" type="text/css" href="/js/gritter/css/jquery.gritter.css" />
		<link rel="stylesheet" type="text/css" href="/js/tablecloth/css/tablecloth.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/pagination.css" />
		<link rel="stylesheet" type="text/css" href="/css/ui-select.css" />
		<!--[if lt IE 9]>
			<script src="/js/flot/excanvas.min.js"></script>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<![endif]-->
		<style type="text/css">
			.data-table th,.data-table td{ cursor: default;}
			.data-table th:nth-child(1),.data-table td:nth-child(1){ width: 150px;}
			.data-table th:nth-child(2),.data-table td:nth-child(2){ width: 150px;}
			.data-table td:nth-child(2){padding: 0 9px;}
			.data-table th:nth-child(3),.data-table td:nth-child(3){ max-width: 250px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
			.data-table th:nth-child(4),.data-table td:nth-child(4){ width: 150px;}
			.data-table th:nth-child(5),.data-table td:nth-child(5){ width: 150px;}
			.data-table th:nth-child(6),.data-table td:nth-child(6){ width: 150px;}
		</style>
	</head>
	<body>
		<div class="modal fade" id="box-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary">保存</button>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div id="content" class="col-lg-12">
					<div class="row">
						<div class="col-sm-12 no-padding">
							<div class="page-header">
								<div class="breadcrumb">
									<li>
										<a href="../statArrive/trendAnalysis" onclick="homePage()">首页</a>
									</li>
									<li>
										<a href="javascript:void(0);">查询文本内容</a>
									</li>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="box border no-margin-but-line">
								<div class="box-body">
									<div class="row">
										<form class="form-horizontal">
											<div class="form-group">
												<div class="col-md-3 no-padding-left">
													<label for="" class="col-md-4 control-label width-70">产品名称：</label>
													<div class="col-md-8 no-padding-left" id="appNameDiv"></div>
												</div>
												<div class="col-md-3 no-padding-left">
													<label for="status" class="col-md-4 control-label width-70">审核结果：</label>
													<div class="col-md-8 no-padding-left">
														<select name="status" id="status" class="form-control ui-select" style="width: 100%;">
															<option value="">全部</option>
															<option value="1">通过</option>
															<option value="0">不通过</option>
															<option value="2">不确定</option>
														</select>
													</div>
												</div>
												<div class="col-md-3 no-padding-left">
													<label for="reasonCode" class="col-md-4 control-label width-70">原因分析：</label>
													<div class="col-md-8 no-padding-left">
														<select name="reasonCode" id="reasonCode" class="form-control ui-select" style="width: 100%;">
															<option value="">全部</option>
															<option value="0">内容正常</option>
															<option value="7">广告</option>
															<option value="2">色情</option>
															<option value="1">政治</option>
															<option value="3">违法</option>
															<option value="4">违规</option>
															<option value="6">异常行为</option>
															<option value="9">自定义识别</option>
														</select>
													</div>
												</div>
												<div class="col-md-3 no-padding-left">
													<label for="reviewType" class="col-md-4 control-label width-70">审核方式：</label>
													<div class="col-md-8 no-padding-left">
														<select name="reviewType" id="reviewType" class="form-control ui-select" style="width: 100%;">
															<option value="">全部</option>
															<option value="-1">智能审核</option>
															<option value="0">人工审核</option>
														</select>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="col-md-6 no-padding-left">
													<label for="" class="col-md-2 control-label width-70">按时间段：</label>
													<div class="col-md-5 no-padding-left time-far">
														<input type="tel" name="startTime" id="startTime" class="form-control" placeholder="请选择开始时间" value="" onClick="WdatePicker()"/>
														<span class="arrow open"></span>
													</div>
													<div class="col-md-5 no-padding-left time-far">
														<input type="tel" name="endTime" id="endTime" class="form-control" placeholder="请选择结束时间" value="" onClick="WdatePicker()"/>
														<span class="arrow open"></span>
													</div>
												</div>
												<div class="col-md-6 no-padding-left">
													<label for="conditionName" class="col-md-2 control-label width-70">字段查询：</label>
													<div class="col-md-5 no-padding-left">
														<select name="conditionName" id="conditionName" class="form-control ui-select" style="width: 100%;">
															<option value="">请选择要查询的字段</option>
															<option value="data_content">指定内容</option>
															<option value="user_id">指定用户</option>
															<option value="user_ip">指定IP</option>
															<option value="device_id">指定设备号</option>
														</select>
													</div>
													<div class="col-md-5 no-padding-left">
														<input type="text" class="form-control no-padding-right" name="conditionValue" id="conditionValue" placeholder="请输入要查询的字段值"/>
													</div>
												</div>
											</div>
											<div class="form-actions clearfix">
												<input type="button" value="搜索" id="dataBtn" class="btn btn-primary btn-self"/>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="box border">
								<div class="box-title title-btn">
									<button class="btn btn-primary">变更审核结果</button>
									<!--<span class="help-block title-help">当您提交审核结果后，系统将会智能学习，后续按照您当前审核标准自动审核相似内容。</span>-->
								</div>
								<div class="box-body">
									<div class="row">
										<div class="col-md-12 no-padding" id="dataTable">
											<div class="noData">抱歉，亲，没有搜到您想要的结果。</div>
											<table class="table table-bordered table-striped data-table">
												<thead id="datatHead"></thead>
												<tbody id="datatBody"></tbody>
											</table>
											<div class="pagination" id="pagination"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/js/jquery/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script type="text/javascript" src="/bootstrap-dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap-daterangepicker/moment.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap-daterangepicker/daterangepicker.min.js"></script>
		<script type="text/javascript" src="/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
		<script type="text/javascript" src="/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
		<script type="text/javascript" src="/js/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js"></script>
		<script type="text/javascript" src="/js/jQuery-BlockUI/jquery.blockUI.min.js"></script>
		<script type="text/javascript" src="/js/select2/select2.min.js"></script>
		<script type="text/javascript" src="/js/sparklines/jquery.sparkline.min.js"></script>
		<script type="text/javascript" src="/js/uniform/jquery.uniform.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap-wizard/form-wizard.min.js"></script>
		<script type="text/javascript" src="/js/tablecloth/js/jquery.tablecloth.js"></script>
		<script type="text/javascript" src="/js/tablecloth/js/jquery.tablesorter.min.js"></script>
		<script type="text/javascript" src="/js/bootbox/bootbox.min.js"></script>
		<script type="text/javascript" src="/js/My97DatePicker/WdatePicker.js"></script>
		<script type="text/javascript" src="/js/a-common/pagination.js"></script>
		<script type="text/javascript" src="/js/a-common/ui-select.js"></script>
		<script type="text/javascript" src="/js/a-common/common.js"></script>
		<script type="text/javascript" src="/js/a-service/query-text.js"></script>
	</body>
</html>
