<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script>
        function getData() {
            console.warn("-----getData-----")
            $.ajax({
                url: "../user/getList",
                type: "get",
                dataType: "json",
                success: function (data) {
                    console.warn(data.data);
                }
            })
        }
    </script>
</head>
<body>
-------------WELCOME!--------------
<input type="button" onclick="getData()" value="测试获取数据"/>
<img src="/img/sp.jpg"/>

<form method="post" action="../user/addUser">
    Id:<input name="id"/>
    姓名:<input name="userName"/>
    年龄:<input name="userAge"/>
    <br/>
    <input type="submit"  value="测试保存数据"/>
</form>
</body>
</html>