<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/cloud-admin.css" />
		<link rel="stylesheet" type="text/css" href="/css/themes/nature.css" id="skin-switcher" />
		<link rel="stylesheet" type="text/css" href="/css/responsive.css" />
		<link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/animatecss/animate.min.css" />
		<link rel="stylesheet" type="text/css" href="/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
		<link rel="stylesheet" type="text/css" href="/js/jquery-todo/css/styles.css" />
		<link rel="stylesheet" type="text/css" href="/js/fullcalendar/fullcalendar.min.css" />
		<link rel="stylesheet" type="text/css" href="/js/gritter/css/jquery.gritter.css" />
		<link rel="stylesheet" type="text/css" href="/js/xcharts/xcharts.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/ui-select.css" />
		<!--[if lt IE 9]>
			<script src="/js/flot/excanvas.min.js"></script>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="modal fade" id="box-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary">保存</button>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div id="content" class="col-lg-12">	
					<div class="row">
						<div class="col-sm-12 no-padding">
							<div class="page-header">
								<ul class="breadcrumb">
									<li>
										<a href="../statArrive/trendAnalysis" onclick="homePage()">首页</a>
									</li>
									<li>
										<a href="javascript:void(0);">不通过原因分析</a>
									</li>
								</ul>
								<div class="clearfix" style="margin-bottom: 10px;">
									<h3 class="content-title pull-left" style="font-weight: 400;">不通过原因分析</h3>
									<div class="btn-group pull-right time-group">
										<a class="js_update btn btn-default active" value="today" href="javascript:void(0);">今天</a>
										<a class="js_update btn btn-default" value="yesterday" href="javascript:void(0);">昨天</a>
										<a class="js_update btn btn-default" value="week" href="javascript:void(0);">近一周</a>
										<a class="js_update btn btn-default" value="twoweek" href="javascript:void(0);">近两周</a>
										<a class="js_update btn btn-default" value="mouth" href="javascript:void(0);">近一月</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="box border title-basic" id="general">
								<div class="box-title">
									<h4>
										总图
									</h4>
								</div>
								<div class="box-body">
									<div class="tabbable header-tabs margin-top-40">
										<ul class="nav nav-tabs">
											<li>
												<a href="#box_tab2" data-toggle="tab">
													<span class="hidden-inline-mobile">
														柱形图
													</span>
												</a>
											</li>
											<li class="active">
												<a href="#box_tab1" data-toggle="tab">
													<span class="hidden-inline-mobile">
														曲线图
													</span>
												</a>
											</li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane fade in active" id="box_tab1">
												<div id="chart1" style="min-width:250px; max-width: 95%;"></div>
											</div>
											<div class="tab-pane fade" id="box_tab2">
												<div id="chart2" style="min-width:250px; max-width: 95%;"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="col-sm-6 padding-15" style="padding-left: 0 !important;">
								<div class="box border title-basic" id="mold">
									<div class="box-title">
										<h4>
											类型
										</h4>
									</div>
									<div class="box-body clearfix">
										<div class="tabbable header-tabs margin-top-40">
											<ul class="nav nav-tabs">
												<li>
													<a href="#box_tab6" data-toggle="tab">
														<span class="hidden-inline-mobile">
															违规
														</span>
													</a>
												</li>
												<li>
													<a href="#box_tab5" data-toggle="tab">
														<span class="hidden-inline-mobile">
															违法
														</span>
													</a>
												</li>
												<li>
													<a href="#box_tab4" data-toggle="tab">
														<span class="hidden-inline-mobile">
															政治
														</span>
													</a>
												</li>
												<li class="active">
													<a href="#box_tab3" data-toggle="tab">
														<span class="hidden-inline-mobile">
															色情
														</span>
													</a>
												</li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane fade in active" id="box_tab3">
													<div id="chart3" style="min-width:250px; max-width: 95%;"></div>
												</div>
												<div class="tab-pane fade" id="box_tab4">
													<div id="chart4" style="min-width:250px; max-width: 95%;"></div>
												</div>
												<div class="tab-pane fade" id="box_tab5">
													<div id="chart5" style="min-width:250px; max-width: 95%;"></div>
												</div>
												<div class="tab-pane fade" id="box_tab6">
													<div id="chart6" style="min-width:250px; max-width: 95%;"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6 padding-15" style="padding-right: 0 !important;">
								<div class="box border title-basic" id="product">
									<div class="box-title">
										<h4>
											产品
										</h4>
									</div>
									<div class="box-body clearfix">
										<div class="tabbable header-tabs margin-top-40">
											<ul class="nav nav-tabs">
												<li>
													<a href="#box_tab10" data-toggle="tab">
														<span class="hidden-inline-mobile">
															违规
														</span>
													</a>
												</li>
												<li>
													<a href="#box_tab9" data-toggle="tab">
														<span class="hidden-inline-mobile">
															违法
														</span>
													</a>
												</li>
												<li>
													<a href="#box_tab8" data-toggle="tab">
														<span class="hidden-inline-mobile">
															政治
														</span>
													</a>
												</li>
												<li class="active">
													<a href="#box_tab7" data-toggle="tab">
														<span class="hidden-inline-mobile">
															色情
														</span>
													</a>
												</li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane fade in active" id="box_tab7">
													<div id="chart7" style="min-width:250px; max-width: 95%;"></div>
												</div>
												<div class="tab-pane fade" id="box_tab8">
													<div id="chart8" style="min-width:250px; max-width: 95%;"></div>
												</div>
												<div class="tab-pane fade" id="box_tab9">
													<div id="chart9" style="min-width:250px; max-width: 95%;"></div>
												</div>
												<div class="tab-pane fade" id="box_tab10">
													<div id="chart10" style="min-width:250px; max-width: 95%;"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="/js/jquery/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
	<script type="text/javascript" src="/bootstrap-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap-daterangepicker/moment.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap-daterangepicker/daterangepicker.min.js"></script>
	<script type="text/javascript" src="/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="/js/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js"></script>
	<script type="text/javascript" src="/js/jQuery-BlockUI/jquery.blockUI.min.js"></script>
	<script type="text/javascript" src="/js/sparklines/jquery.sparkline.min.js"></script>
	<script type="text/javascript" src="/js/jquery-todo/js/paddystodolist.js"></script>
	<script type="text/javascript" src="/js/timeago/jquery.timeago.min.js"></script>
	<script type="text/javascript" src="/js/fullcalendar/fullcalendar.min.js"></script>
	<script type="text/javascript" src="/js/jQuery-Cookie/jquery.cookie.min.js"></script>
	<script type="text/javascript" src="/js/gritter/js/jquery.gritter.min.js"></script>
	<script type="text/javascript" src="/js/bootbox/bootbox.min.js"></script>
	<script type="text/javascript" src="/js/a-common/highstock.js"></script>
	<script type="text/javascript" src="/js/a-common/ui-select.js"></script>
	<script type="text/javascript" src="/js/a-common/common.js"></script>
	<script type="text/javascript" src="/js/a-common/stock.js"></script>
	<script type="text/javascript" src="/js/a-service/reject-analysis.js"></script>
</html>
