@charset "UTF-8";
html{overflow-y:hidden;}
body{margin:0;height:100%;}
a:active,a:hover{outline:0}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
input,select,button{outline:none;}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
img{vertical-align:middle;border:0}
@-ms-viewport{width:device-width}
html{font-size:50px;-webkit-tap-highlight-color:transparent;height:100%;min-width:320px;overflow-x:hidden}
body{font-family:"Microsoft YaHei";font-size:.28em;line-height:1;color:#333;background-color:white;}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-weight:500;line-height:1.1}
.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small{font-weight:400;line-height:1}
.h1,.h2,.h3,h1,h2,h3{margin-top:.28rem;margin-bottom:.14rem}
.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small{font-size:65%}
.h4,.h5,.h6,h4,h5,h6{margin-top:.14rem;margin-bottom:.14rem}
.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small{font-size:75%}
.h1,h1{font-size:.364rem}
.h2,h2{font-size:.2996rem}
.h3,h3{font-size:.238rem}
.h4,h4{font-size:.175rem}
.h5,h5{font-size:.14rem}
.h6,h6{font-size:.119rem}
h6{margin-top:0;margin-bottom:0}
button,input,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}
a{color:#06c1ae;text-decoration:none;outline:0}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
a.react,label.react{display:block;color:inherit;height:100%}
a.react.react-active,a.react:active,label.react:active{background:rgba(0,0,0,.1)}
ul{margin:0;padding:0;list-style-type:none}
hr{margin-top:.28rem;margin-bottom:.28rem;border:0;border-top:1px solid #DDD8CE}
h6,p{line-height:1.41;text-align:justify;margin:-.2em 0;word-break:break-all}
small,weak{color:#666}
input::-webkit-input-placeholder {color:#222;line-height:inherit;} 
input:-moz-placeholder {color:#222;line-height:inherit;} 
input::-moz-placeholder {color:#222;line-height:inherit;}
*, *:before, *:after{-webkit-box-sizing:content-box;box-sizing:content-box;}
/*login*/
body{height:100%;background:#16a085;overflow:hidden;}
canvas{z-index:-1;position:absolute;}
.iconfont{font-family:'FontAwesome';}
.add_icon:before{content:"";margin:0 5px;font-family:'FontAwesome';}
.money_icon:before{content:"";margin:0 5px;font-family:'FontAwesome';font-size:20px;}
.rmb_icon{color:#19a97b;}
.rmb_icon:before{content:"";margin-right:2px;}
.ellipsis{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.center{text-align:center;}
.fl{float:left;}
.fr{float:right;}
.mtb{margin:5px 0;overflow:hidden;}
.mlr{margin:0 5px;overflow:hidden;}
.admin_login{width:300px;height:auto;overflow:hidden;margin:5% auto 0 auto;padding:40px;box-shadow:0 -15px 30px #0d957a;border-radius:5px;}
.admin_login dt{font-size:16px;font-weight:bold;text-align:center;color:#45bda6;text-shadow:0 0 1px #0e947a;margin-bottom:25px;}
.admin_login dt strong{display:block;color: #fff;cursor: default;margin-top: 10px;}
.admin_login dt em{display:block;font-size:12px;margin-top:8px;}
.admin_login dd{margin:5px 0;height:42px;overflow:hidden;position:relative;}
.admin_login dd .login_txtbx{font-size:14px;height:26px;line-height:26px;padding:8px 5%;width:90%;text-indent:2em;border:none;background:#fff;color:#222;}
.admin_login dd .login_txtbx::-webkit-input-placeholder {color:#999;line-height:inherit;} 
.admin_login dd .login_txtbx:-moz-placeholder {color:#999;line-height:inherit;} 
.admin_login dd .login_txtbx::-moz-placeholder {color:#999;line-height:inherit;}
.admin_login dd .login_txtbx:focus{background:#fff;}
.admin_login dd:before{font-family:'FontAwesome';position:absolute;top:0;left:10px;height:42px;line-height:42px;font-size:20px;color:#0c9076;}
.admin_login dd.user_icon:before{content:"\f007";}
.admin_login dd.pwd_icon:before{content:"\f023";}
.admin_login dd.val_icon:before{content:"n";}
.admin_login dd .ver_btn{text-align:right;border:none;color:#048f74;height:42px;line-height:42px;margin:0;z-index:1;position:relative;float:right;background:#fff;}
.admin_login dd .checkcode{float:left;width:216px;height:42px;background:#fff}
.admin_login dd .checkcode input{width:120px;height:36px;line-height:36px;padding:3px;color:#666;outline:none;border:none;text-indent:2.8em;}
.admin_login dd .checkcode #myCanvas{width:85px;height:42px;padding: 0;z-index:0;background:#fff;vertical-align: top;
    float: right;}
.admin_login dd.psd-relevant{line-height:42px;color: #fff;}
.admin_login dd.psd-relevant .left{float: left; cursor: pointer;}
.admin_login dd.psd-relevant .left .fa{display: inline-block; margin-right: 5px; width: 14px;}
.admin_login dd.psd-relevant .left .fa.fa-square{ font-size: 12px;}
.admin_login dd.psd-relevant .left .fa.fa-check-square-o{font-size: 14px;}
.admin_login dd.psd-relevant .right{float: right;cursor: pointer;}
.forgot-psd{color: #fff !important;}
.admin_login dd .submit_btn{width:100%;height:42px;border:none;font-size:16px;background:#048f74;color:#fff;}
.admin_login dd .submit_btn:hover{background:#0c9076;color:#fff;}
.admin_login dd p{color:#53c6b0;font-size:12px;text-align:center;margin:5px 0;cursor: default;}
.admin_login dd.register-dd{margin-top: 15px;}
.admin_login dd .register-btn{display:inline-block;width:100%;height:40px;border:1px solid #fff;font-size:16px;color:#fff;text-align: center;line-height: 40px;box-sizing: border-box;}
.bottom{ position: absolute; bottom: 10px; width: 100%;}
.bottom p{ text-align: center;color: #53c6b0;font-size: 12px; cursor: default;}

/*register*/