/*ui-select样式，可根据实际项目需求进行调整*/

.ui-select-wrap {
  display: inline-block;
  border: 1px solid #e9ecf2;
  position: relative;
  height: 30px;
  padding-right: 15px;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  font: 100 16px/30px;
  -webkit-user-select: none;
  user-select: none;
  z-index: 8;
  line-height: 30px;
}
.form-group .ui-select-wrap{
	height: 34px;
	line-height: 34px;
}

.ui-select-wrap.focus { z-index: 9; }

select.ui-select {
  height: 32px;
  vertical-align: top;
  padding: 0 8px 0 4px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: #fff;
  font: 100 16px/30px;
}
.form-group select.ui-select {
	height: 34px;
}

.ui-select-wrap>select {
  display: none;
  height: 32px;
  vertical-align: top;
  padding: 0 8px;
  border: 1px solid #aaa;
}

.ui-select-input {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 15px;
  padding-left: 8px;
  white-space: nowrap;
  overflow: hidden;
}

.ui-select-arrow {
  display: block;
  position: absolute;
  right: 0px;
  top: 0;
  height: 0;
  width: 30px;
  text-align: center;
  font-style: normal;
}
.ui-select-arrow:before{
	font-family: FontAwesome;
	content: "\f107";
}

.ui-select-list {
	box-sizing: content-box;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 99;
  left: -1px;
  top: 28px;
  background-color: #fff;
  border: 1px solid #e9ecf2;
  width: 100%;
  overflow: auto;
  max-height: 200px;
  border-radius: 0 3px 3px 3px;
}
.form-group .ui-select-list{
	top: 32px;
}


.ui-select-wrap.up .ui-select-list {
  top: auto;
  bottom: 30px;
}

.ui-select-wrap.focus .ui-select-list { display: block; }

.ui-select-list>li {
  display: block;
  line-height: 32px;
  padding: 0 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-select-list>li:hover { background-color: #fff; color: #e7523a;}

.ui-select-list>li.selected {
  background-color: #fff;
  color: #e7523a;
}

.ui-select-list>li.disabled {
  background-color: #f2f2f2;
  color: #999;
  cursor: not-allowed;
}

.ui-select-list>li.disabled.selected {
  background-color: #59ADFF;
  color: #f2f2f2;
  cursor: not-allowed;
}

.ui-select-wrap.disabled {
  color: #999;
  border-color: #ccc;
  cursor: not-allowed;
}

.ui-select-wrap.disabled .ui-select-arrow { border-top-color: #ccc; }
