<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/cloud-admin.css" />
		<link rel="stylesheet" type="text/css" href="/css/themes/nature.css" id="skin-switcher" />
		<link rel="stylesheet" type="text/css" href="/css/responsive.css" />
		<link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/animatecss/animate.min.css" />
		<link rel="stylesheet" type="text/css" href="/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
		<link rel="stylesheet" type="text/css" href="/js/select2/select2.min.css" />
		<link rel="stylesheet" type="text/css" href="/js/jquery-todo/css/styles.css" />
		<link rel="stylesheet" type="text/css" href="/js/fullcalendar/fullcalendar.min.css" />
		<link rel="stylesheet" type="text/css" href="/js/gritter/css/jquery.gritter.css" />
		<link rel="stylesheet" type="text/css" href="/js/tablecloth/css/tablecloth.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/pagination.css" />
		<link rel="stylesheet" type="text/css" href="/css/ui-select.css" />
		<!--[if lt IE 9]>
			<script src="/js/flot/excanvas.min.js"></script>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="modal fade" id="box-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary">保存</button>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div id="content" class="col-lg-12">
					<div class="row">
						<div class="col-sm-12 no-padding">
							<div class="page-header">
								<div class="breadcrumb register">
									<li>
										<a href="login.html">登录</a>
									</li>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="box border register">
								<div class="box-title">
									<h4>
										找回密码
									</h4>
								</div>
								<div class="box-body">
									<div class="tabbable header-tabs">
										<ul class="nav nav-tabs top-50">
											<li>
												<a href="#box_tab2" data-toggle="tab">
													<span class="hidden-inline-mobile">
														邮箱找回
													</span>
												</a>
											</li>
											<li class="active">
												<a href="#box_tab1" data-toggle="tab">
													<span class="hidden-inline-mobile">
														短信找回
													</span>
												</a>
											</li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane fade in active" id="box_tab1">
												<form action="" class="form-horizontal fill-user-info">
													<div class="form-group">
														<label class="control-label col-md-3 no-padding-right">登录帐号：</label>
														<div class="col-md-4 no-padding-left left-input">
															<input type="text" class="form-control" id="email" name="email" placeholder="请输入登录帐号"/>
															<span class="error-span"></span>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-3 no-padding-right">手机号码：</label>
														<div class="col-md-4 no-padding-left left-input">
															<input type="text" class="form-control" id="phone" name="phone" placeholder="请输入手机号码"/>
															<span class="error-span"></span>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-3 no-padding-right">短信验证码：</label>
														<div class="col-md-4 no-padding-left left-input picCode">
															<input type="text" class="form-control" id="noteCode" name="noteCode" placeholder="请输入短信验证码"/>
															<span class="error-span" id="note-code-error"></span>
														</div>
														<div class="col-md-2 no-padding pic-code" style="width: 160px;">
															<input type="button" value="获取短信验证码" class="btn btn-primary btn-red btn-small"/>
														</div>
													</div>
													<div class="form-actions clearfix">
														<div class="col-md-8">
															<input type="button" value="确认" class="btn btn-primary btn-self" id="noteBtn"/>
														</div>
													</div>
												</form>
											</div>
											<div class="tab-pane fade" id="box_tab2">
												<form action="" class="form-horizontal fill-user-info">
													<div class="form-group">
														<label class="control-label col-md-3 no-padding-right">登录帐号：</label>
														<div class="col-md-4 no-padding-left left-input">
															<input type="text" class="form-control" id="email" name="email" placeholder="请输入登录帐号"/>
															<span class="error-span"></span>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-3 no-padding-right">图片验证码：</label>
														<div class="col-md-4 no-padding-left left-input picCode">
															<input type="text" class="form-control" id="picCode" name="picCode" placeholder="请输入图片验证码" onblur="validate2()"/>
															<span class="error-span" id="pic-code-error"></span>
														</div>
														<div class="col-md-2 no-padding pic-code">
															<canvas class="J_codeimg pic-code" id="myCanvas" onclick="createCode()">对不起，您的浏览器不支持canvas，请下载最新版浏览器!</canvas>
														</div>
													</div>
													<div class="form-actions clearfix">
														<div class="col-md-8">
															<input type="button" value="确认" class="btn btn-primary btn-self" id="emailBtn"/>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/js/jquery/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script type="text/javascript" src="/bootstrap-dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap-daterangepicker/moment.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap-daterangepicker/daterangepicker.min.js"></script>
		<script type="text/javascript" src="/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
		<script type="text/javascript" src="/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
		<script type="text/javascript" src="/js/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js"></script>
		<script type="text/javascript" src="/js/jQuery-BlockUI/jquery.blockUI.min.js"></script>
		<script type="text/javascript" src="/js/select2/select2.min.js"></script>
		<script type="text/javascript" src="/js/sparklines/jquery.sparkline.min.js"></script>
		<script type="text/javascript" src="/js/uniform/jquery.uniform.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap-wizard/form-wizard.min.js"></script>
		<script type="text/javascript" src="/js/tablecloth/js/jquery.tablecloth.js"></script>
		<script type="text/javascript" src="/js/tablecloth/js/jquery.tablesorter.min.js"></script>
		<script type="text/javascript" src="/js/bootbox/bootbox.min.js"></script>
		<script type="text/javascript" src="/js/My97DatePicker/WdatePicker.js"></script>
		<script type="text/javascript" src="/js/a-script/pagination.js"></script>
		<script type="text/javascript" src="/js/a-script/ui-select.js"></script>
		<script type="text/javascript" src="/js/a-script/Particleground.js"></script>
		<script type="text/javascript" src="/js/a-script/verificationNumbers.js"></script>
		<script type="text/javascript" src="/js/a-script/common.js"></script>
		<script type="text/javascript">
		    checkFormat($('#email'),isEmail,'邮箱不能为空','请输入正确的邮箱格式');
		    checkFormat($('#phone'),phoneNumber,'手机号码不能为空','请输入正确的手机号码');
		    checkFormat($('#password'),passwordCheck,'密码不能为空','请输入6-16位的数字和字母组合');
		    psdConfirm($('#password'),$('#password2'));
		    createCode();
		    $('#noteBtn').click(function(){
		    	noticeAlert('验证正确，请点击确认跳转至修改密码页面','成功',toModifyPsd,'');
		    });
		    function toModifyPsd(){
		    	window.location.href="modify-password.html";
		    }
		    $('#emailBtn').click(function(){
		    	noticeAlert('邮件已发送，请注意查收邮件','成功','','');
		    });
		</script>	
	</body>
</html>
