<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/cloud-admin.css" >
		<link rel="stylesheet" type="text/css" href="css/themes/nature.css" id="skin-switcher" >
		<link rel="stylesheet" type="text/css" href="css/responsive.css" >
		<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/animatecss/animate.min.css" />
		<link rel="stylesheet" type="text/css" href="js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
		<link rel="stylesheet" type="text/css" href="js/select2/select2.min.css" />
		<link rel="stylesheet" type="text/css" href="js/jquery-todo/css/styles.css" />
		<link rel="stylesheet" type="text/css" href="js/fullcalendar/fullcalendar.min.css" />
		<link rel="stylesheet" type="text/css" href="js/gritter/css/jquery.gritter.css" />
		<link rel="stylesheet" type="text/css" href="js/tablecloth/css/tablecloth.min.css" />
		<link rel="stylesheet" type="text/css" href="css/pagination.css" />
		<link rel="stylesheet" type="text/css" href="css/ui-select.css" />
		<!--[if lt IE 9]>
			<script src="js/flot/excanvas.min.js"></script>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<![endif]-->
		<style type="text/css">
			.data-table th,.data-table td{ cursor: default;}
			.data-table th:nth-child(1),.data-table td:nth-child(1){ width: 150px;}
			.data-table th:nth-child(2),.data-table td:nth-child(2){ width: 150px;}
			.data-table td:nth-child(2){padding: 0 9px;}
			.data-table th:nth-child(3),.data-table td:nth-child(3){ max-width: 250px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
			.data-table th:nth-child(4),.data-table td:nth-child(4){ width: 150px;}
			.data-table th:nth-child(5),.data-table td:nth-child(5){ width: 150px;}
			.data-table th:nth-child(6),.data-table td:nth-child(6){ width: 150px;}
		</style>
	</head>
	<body>
		<div class="modal fade" id="box-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary">保存</button>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div id="content" class="col-lg-12">
					<div class="row">
						<div class="col-sm-12 no-padding">
							<div class="page-header">
								<div class="breadcrumb">
									<li>
										<!--<i class="fa fa-home"></i>-->
										<a href="business-overview/trend-analysis.html" onclick="homePage()">首页</a>
									</li>
									<li>
										<!--<i class="fa fa-home"></i>-->
										<a href="javascript:void(0);" class="current-str">个人资料</a>
									</li>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="box border">
								<div class="box-body">
									<form class="form-horizontal fill-user-info">
										<div class="form-group">
											<label class="control-label col-md-3 no-padding-right">账号：</label>
											<div class="col-md-4 no-padding-left left-input">
												<input type="text" disabled="disabled" class="form-control" id="email" name="email" placeholder="请输入邮箱">
												<span class="error-span"></span>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 no-padding-right">公司名称：</label>
											<div class="col-md-4 no-padding-left left-input">
												<input type="text" disabled="disabled" class="form-control" id="company" name="company" placeholder="请输入公司名称">
												<span class="error-span"></span>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 no-padding-right">姓名：</label>
											<div class="col-md-4 no-padding-left left-input">
												<input type="text" class="form-control" id="name" name="name" placeholder="请输入真实姓名">
												<span class="error-span"></span>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 no-padding-right">手机：</label>
											<div class="col-md-4 no-padding-left left-input">
												<input type="text" class="form-control" id="phone" name="phone" placeholder="请输入手机号码">
												<span class="error-span"></span>
											</div>
										</div>
										<div class="form-group psd-form-group">
											<label class="control-label col-md-3 no-padding-right">密码：</label>
											<div class="col-md-4 no-padding-left left-input">
												<input type="password" class="form-control" id="password" name="password" placeholder="请设置新密码">
												<span class="error-span">如不想修改密码，留空即可</span>
											</div>
										</div>
										<div class="form-group psd-form-group">
											<label class="control-label col-md-3 no-padding-right">确认密码：</label>
											<div class="col-md-4 no-padding-left left-input">
												<input type="password" class="form-control" id="password2" name="password2" placeholder="请确认新密码">
												<span class="error-span"></span>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 no-padding-right">图片验证码：</label>
											<div class="col-md-4 no-padding-left left-input picCode">
												<input type="text" class="form-control" id="picCode" name="picCode" placeholder="请输入图片验证码" onblur="validate2()">
												<span class="error-span" id="pic-code-error"></span>
											</div>
											<div class="col-md-2 no-padding pic-code">
												<canvas class="J_codeimg pic-code" id="myCanvas" onclick="createCode()">对不起，您的浏览器不支持canvas，请下载最新版浏览器!</canvas>
											</div>
										</div>
										<div class="form-actions clearfix">
											<div class="col-md-8">
												<input type="button" value="确认" class="btn btn-primary btn-self">
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/jquery/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script type="text/javascript" src="bootstrap-dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/bootstrap-daterangepicker/moment.min.js"></script>
		<script type="text/javascript" src="js/bootstrap-daterangepicker/daterangepicker.min.js"></script>
		<script type="text/javascript" src="js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
		<script type="text/javascript" src="js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
		<script type="text/javascript" src="js/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js"></script>
		<script type="text/javascript" src="js/jQuery-BlockUI/jquery.blockUI.min.js"></script>
		<script type="text/javascript" src="js/select2/select2.min.js"></script>
		<script type="text/javascript" src="js/sparklines/jquery.sparkline.min.js"></script>
		<script type="text/javascript" src="js/uniform/jquery.uniform.min.js"></script>
		<script type="text/javascript" src="js/bootstrap-wizard/form-wizard.min.js"></script>
		<script type="text/javascript" src="js/tablecloth/js/jquery.tablecloth.js"></script>
		<script type="text/javascript" src="js/tablecloth/js/jquery.tablesorter.min.js"></script>
		<script type="text/javascript" src="js/bootbox/bootbox.min.js"></script>
		<script type="text/javascript" src="js/My97DatePicker/WdatePicker.js"></script>
		<script type="text/javascript" src="js/a-script/pagination.js"></script>
		<script type="text/javascript" src="js/a-script/ui-select.js"></script>
		<script type="text/javascript" src="js/a-script/Particleground.js"></script>
		<script type="text/javascript" src="js/a-script/verificationNumbers.js"></script>
		<script type="text/javascript" src="js/a-script/common.js"></script>
		<script type="text/javascript">
			$('.ui-select').ui_select();
		    checkFormat($('#name'),noNumber,'请输入真实的姓名，不能包含数字');
		    checkFormat($('#phone'),phoneNumber,'请输入正确的手机号码');
		    checkFormat($('#password'),passwordCheck,'如不想修改密码，留空即可','请输入6-16位的数字和字母组合');
		    psdConfirm($('#password'),$('#password2'));
		    createCode();
		    function getUserInfo(){
		    	var userInfo = {
		    		"id":"zhaomosheng@sina.com",
		    		"name":"赵默笙",
		    		"phone":"13688886666",
		    		"userType":2,
		    		"company":"绿盾公司"
		    	}
		    	$('#email').val(userInfo.id).attr('disabled','disabled');
		    	$('#company').val(userInfo.company).attr('disabled','disabled');
		    	$('#name').val(userInfo.name);
		    	$('#phone').val(userInfo.phone);
		    }
		    getUserInfo();
		    $('.btn-primary').click(function(){
		    	bootbox.alert('修改成功。');
		    });
		</script>	
	</body>
</html>
