<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="../register" method="post">
    公司邮箱：<input name="email"/>
    <br/>
    公司名称：<input name="companyName"/>
    <br/>
    姓名：<input name="name"/>
    <br/>
    手机：<input name="mobile"/>
    <br/>
    密码：<input name="password"/>
    <br/>
    密码：<input name="confirmPassword"/>
    <br/>
    图片验证码：<input name="verificationCode"/>
    <img id="img" src="../getAuthImage" onclick="changeImg()"/>
    <br/>
    <input type="submit" value="提交"/>
</form>

<script>
    function changeImg() {
        var img = document.getElementById("img");
        img.src = "../getAuthImage?date=" + new Date();
    }
</script>
</body>
</html>