<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/cloud-admin.css" />
		<link rel="stylesheet" type="text/css" href="/css/themes/nature.css" id="skin-switcher" />
		<link rel="stylesheet" type="text/css" href="/css/responsive.css" />
		<link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/animatecss/animate.min.css" />
		<link rel="stylesheet" type="text/css" href="/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
		<link rel="stylesheet" type="text/css" href="/js/select2/select2.min.css" />
		<link rel="stylesheet" type="text/css" href="/js/jquery-todo/css/styles.css" />
		<link rel="stylesheet" type="text/css" href="/js/fullcalendar/fullcalendar.min.css" />
		<link rel="stylesheet" type="text/css" href="/js/gritter/css/jquery.gritter.css" />
		<link rel="stylesheet" type="text/css" href="/js/tablecloth/css/tablecloth.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/pagination.css" />
		<!--[if lt IE 9]>
			<script src="/js/flot/excanvas.min.js"></script>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<![endif]-->
		<style type="text/css">
			.data-table th,.data-table td{ cursor: default;}
			.data-table th:nth-child(1),.data-table td:nth-child(1){ width: 250px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
			.data-table th:nth-child(2),.data-table td:nth-child(2){ width: 100px;}
			.data-table th:nth-child(3),.data-table td:nth-child(3){ width: 100px;}
			.data-table th:nth-child(4),.data-table td:nth-child(4){ width: 100px;}
			.data-table th:nth-child(5),.data-table td:nth-child(5){ width: 150px;}
			.data-table th:nth-child(6),.data-table td:nth-child(6){ width: 150px;}
		</style>
	</head>
	<body>
		<div class="modal fade" id="box-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary">保存</button>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div id="content" class="col-lg-12">
					<div class="row">
						<div class="col-sm-12 no-padding">
							<div class="page-header">
								<div class="breadcrumb">
									<li>
										<a href="../statArrive/trendAnalysis" onclick="homePage()">首页</a>
									</li>
									<li>
										<a href="javascript:void(0);">用户管理</a>
									</li>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="box border">
								<div class="box-title title-btn">
									<a href="../baseLdUser/addEditUser?flag=add" class="btn btn-primary btn-red">增加用户</a>
									<span class="help-block title-help"></span>
								</div>
								<div class="box-body">
									<div class="row">
										<div class="col-md-12 no-padding">
											<table class="table table-bordered table-striped data-table user-table">
												<thead>
													<tr>
														<th>账号</th>
														<th>姓名</th>
														<th>密码</th>
														<th>手机</th>
														<th>角色类型</th>
														<th>操作</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td title="heyitan@sina.com">heyitan@sina.com</td>
														<td>何以琛</td>
														<td>******</td>
														<td>15866668888</td>
														<td>管理员</td>
														<td>
															<a href="/user-management/add-edit-user.html?flag=edit&dataJson=dataJson" class="color-9">
																<i title="修改用户信息" class="fa fa-pencil"></i>
															</a>
															<a href="javascript:void(0);" class="color-9 refresh-paddword">
																<i title="重置用户密码" class="fa fa-refresh"></i>
															</a>
															<a href="javascript:void(0);" class="color-9 del-user">
																<i title="删除用户" class="fa fa-trash-o"></i>
															</a>
														</td>
													</tr>
													<tr>
														<td title="zhaomosheng@sina.com">zhaomosheng@sina.com</td>
														<td>赵默笙</td>
														<td>******</td>
														<td>13688886666</td>
														<td>操作员</td>
														<td>
															<a href="/user-management/add-edit-user.html?flag=edit" class="color-9">
																<i title="修改用户信息" class="fa fa-pencil"></i>
															</a>
															<a href="javascript:void(0);" class="color-9 refresh-paddword">
																<i title="重置用户密码" class="fa fa-refresh"></i>
															</a>
															<a href="javascript:void(0);" class="color-9 del-user">
																<i title="删除用户" class="fa fa-trash-o"></i>
															</a>
														</td>
													</tr>
												</tbody>
											</table>
											<div class="pagination" id="pagination"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/js/jquery/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script type="text/javascript" src="/bootstrap-dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap-daterangepicker/moment.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap-daterangepicker/daterangepicker.min.js"></script>
		<script type="text/javascript" src="/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
		<script type="text/javascript" src="/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
		<script type="text/javascript" src="/js/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js"></script>
		<script type="text/javascript" src="/js/jQuery-BlockUI/jquery.blockUI.min.js"></script>
		<script type="text/javascript" src="/js/select2/select2.min.js"></script>
		<script type="text/javascript" src="/js/sparklines/jquery.sparkline.min.js"></script>
		<script type="text/javascript" src="/js/uniform/jquery.uniform.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap-wizard/form-wizard.min.js"></script>
		<script type="text/javascript" src="/js/tablecloth/js/jquery.tablecloth.js"></script>
		<script type="text/javascript" src="/js/tablecloth/js/jquery.tablesorter.min.js"></script>
		<script type="text/javascript" src="/js/bootbox/bootbox.min.js"></script>
		<script type="text/javascript" src="/js/My97DatePicker/WdatePicker.js"></script>
		<script type="text/javascript" src="/js/a-common/pagination.js"></script>
		<script type="text/javascript" src="/js/a-common/ui-select.js"></script>
		<script type="text/javascript" src="/js/a-common/common.js"></script>
		<script type="text/javascript" src="/js/a-service/user-management.js"></script>
	</body>
</html>
